
CREATE DATABASE [KIEMTRALTM]
GO
USE [KIEMTRALTM]
GO
/*-------------------TABLE TAIKHOAN -------------*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[Username] [NVARCHAR](50) primary key NOT NULL,
	[Password] [NVARCHAR](50) NOT NULL,	
)
GO
/*-----------------TABLE BODE------------------*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BODE](
	[CAUHOI] [int] NOT NULL,
	[TRINHDO] [char](1) NULL,
	[NOIDUNG] [ntext] NULL,
	[A] [ntext] NULL,
	[B] [ntext] NULL,
	[C] [ntext] NULL,
	[D] [ntext] NULL,
	[DAP_AN] [char](1) NULL,
 CONSTRAINT [PK_BODE] PRIMARY KEY CLUSTERED 
(
	[CAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/*---------------TABLE SINHVIEN ----------------*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[SODIENTHOAI] [char](10) NULL,
	[DIEM] [float] NULL,
	[NGAYTHI] [nvarchar](50) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/*--------------- NHẠP DU LIEU --------------------------------*/
INSERT [dbo].[BODE] ([CAUHOI], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN]) VALUES (1, N'A', N'mạng máy tính(compute netword) so với hệ thống multi-user', N'dễ phát triển hệ thống', N'tăng độ tin cậy', N'tiết kiệm chi phí', N'tất cả đều đúng', N'D')
INSERT [dbo].[BODE] ([CAUHOI], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN]) VALUES (2, N'A', N'Package là tập hợp của:', N'Lớp và Interface', N'Lớp ', N'Interface ', N'Các công cụ biên dịch', N'A')
INSERT [dbo].[BODE] ([CAUHOI], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN]) VALUES (3, N'A', N'để một máy tính truyền dữ liệu cho một số máy khác trong mạng, ta dùng loại địa chỉ', N'Broadcast', N'Broadband', N'multicast', N'multiple access', N'C')
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [CK_BODE] CHECK  (([TRINHDO]='A' OR [TRINHDO]='B' OR [TRINHDO]='C'))
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [CK_BODE]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [CK_DAPAN] CHECK  (([DAP_AN]='D' OR ([DAP_AN]='C' OR ([DAP_AN]='B' OR [DAP_AN]='A'))))
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [CK_DAPAN]
GO
